:root {
  --color-dark: #292929;
  --color-secondary-dark: #199bfe;
  --color-secondary-light: #35a6ff;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
}

.navbar {
  border-bottom: 5px solid var(--color-secondary-dark);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar > ul {
  padding-left: 100px;
}

.navbar li ul {
  background-color: var(--color-secondary-dark);
  min-width: 200px;
  position: absolute;
  display: none;
  box-shadow: 1px 1px 5px var(--color-secondary-dark);
}

.navbar li ul li {
  position: relative;
}

.navbar__list-first {
  display: flex;
  justify-self: center;
  background-color: var(--color-dark);
  z-index: 1;
}

.navbar__list-second {
  z-index: 2;
}

.navbar__list-third {
  z-index: 3;
  left: 100%;
  top: calc(100% - 61px);
}

.navbar__list-fourth {
  z-index: 4;
  left: 100%;
  top: calc(100% - 61px);
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  text-decoration: none;
  color: var(--color-white);
  padding: 1.35em 1.25em;
  min-height: 50px;
}

.navbar a:hover {
  background-color: var(--color-secondary-light);
}

.navbar .active {
  background-color: var(--color-secondary-dark);
}

.navbar ul > li:hover > ul {
  display: block;
}
